<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Список посещений</title>
</head>
<body>


<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Питомец</th>
            <th scope="col">Тип посещения</th>
            <th scope="col">Описание</th>
            <th scope="col">Диагноз</th>
            <th scope="col">Дата</th>
            <th scope="col">Клиент</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="appt : ${appts}">
            <th scope="row" th:text="${appt.getId()}"></th>
            <td th:text="${appt.getPetid().getName()}"></td>
            <td th:text="${appt.getTypeAppt()}"></td>
            <td th:text="${appt.getDescription()}"></td>
            <td th:text="${appt.getDiagnose()}"></td>
            <td th:text="${appt.getDate()}"></td>
            <td th:text="${appt.getClientid().getFullName()}"></td>
            <!-- надо добавить что страница только для врачей-->
            <td>
                <a th:href="@{'/apptsvet/deletevet/'+${appt.getId()}}">Удалить</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>