<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head">
    <title>Список животных</title>
</head>
<body>
<div th:replace="fragments :: header" />
<div class="container text-center">
    <h1>Animals & CO</h1>
    <div>
        <a class="h2" th:href="@{/newpet}">Добавить животное</a>
    </div>
</div>

<div class="container">
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Имя</th>
        <th scope="col">Тип</th>
        <th scope="col">Возраст (полных лет)</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pet : ${pets}">
        <th scope="row" th:text="${pet.getId()}"></th>
        <td th:text="${pet.getName()}"></td>
        <td th:text="${pet.getType().type}"></td>
        <td th:text="${pet.getAge()}"></td>
        <td>
            <a th:href="@{'/pets/edit/'+${pet.getId()}}">Изменить</a>
        </td>
        <td>
            <a th:href="@{'/pets/delete/'+${pet.getId()}}">Удалить</a>
        </td>
    </tr>
    </tbody>
</table>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>