<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"/>
  <title>Регистрация</title>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/suggestions-jquery@latest/dist/js/jquery.suggestions.min.js"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/suggestions-jquery@latest/dist/css/suggestions.min.css">
</head>

<body>

<div th:replace="fragments :: header" />

<div class="container">
  <div class="row py-2">
    <div class="col-12">
      <form th:action="@{/register}" method="post" th:object="${user}">
        <div class="form-group">
          <label for="username">Логин</label>
          <input type="text" id="username" th:field="*{username}" class="form-control" placeholder="Введите логин">
        </div>
        <div class="form-group">
          <label for="username">ФИО</label>
          <input type="text" id="fullName" th:field="*{fullName}" class="form-control" placeholder="Введите ФИО">
        </div>
        <div class="form-group">
          <label for="username">Телефон</label>
          <input type="text" id="phone" th:field="*{phone}" class="form-control" placeholder="Введите номер телефона">
        </div>
        <div class="form-group">
          <label for="username">Email</label>
          <input type="text" id="email" th:field="*{email}" class="form-control" placeholder="Введите адрес электронной почты">
        </div>
        <div class="form-group">
          <label for="address">Адрес</label>
          <input type="text" name="address" id="address" th:field="*{address}" class="form-control" placeholder="Введите адрес проживания" />
        </div>
        <div class="form-group">
          <label for="password">Пароль</label>
          <input type="password" id="password" th:field="*{password}" class="form-control" placeholder="Введите пароль">
        </div>
        <div class="form-group">
          <label for="repeatPassword">Повторите пароль</label>
          <input type="password" id="repeatPassword" th:field="*{repeatPassword}" class="form-control" placeholder="Повторите пароль">
        </div>
        <button type="submit" class="btn btn-success">Зарегистрироваться</button>
      </form>
    </div>
  </div>
</div>

<script>
  $("#address").suggestions({
    token: "500eb23cbc447eee8ccc0381155db31d055a7571",
    type: "ADDRESS",
    /* Вызывается, когда пользователь выбирает одну из подсказок */
    onSelect: function(suggestion) {
      console.log(suggestion);
    }
  });
</script>
</body>
</html>